// ================================
// フォント関係の設定
// ================================

$font-gl: 'Roboto', 'Noto Sans JP', sans-serif;
 
 
// ================================
// 色関係の設定
// ================================

$color-bg: #ffed58;
$color-white: #fff;
$color-text: #000;