@use "../../global" as *;

.c-button {
  display: inline-block;
  position: relative;
  padding: 10px 30px;
  background-color: $color-text;
  color: $color-white;
  @include fz(14);
  &::after {
    content: '';
    position: absolute;
    top: 18px;
    right: 18px;
    rotate: 45deg;
    width: 7px;
    height: 7px;
    border-top: 2px solid $color-white;
    border-right: 2px solid $color-white;
  }
}

.c-button-contact {
  display: inline-block;
  padding: 20px 60px;
  border: 1px solid #707070;
  background-color: $color-white;
  @include fz(14);
}

.c-button-form {
  // contact-formに記述
  // display: block;
  // margin: 0 auto;
  padding: 15px 50px;
  background-color: #000;
  color: $color-white;
  @include fz(14);
}