@use "../../global" as *;

// pcは表示しない、display:noneしなくていいの？
@include mq(md) {
  .c-hamburger {
    position: fixed;
    top: 5px;
    right: 10px;
    z-index: 30;
    width: 50px;
    height: 50px;
    // cursor: pointer;
  
    &__line {
      display: inline-block;
      position: absolute;
      left: 10px;
      width: 30px;
      height: 3px;
      background-color: $color-text;
      transition: 0.4s;
      &:nth-of-type(1) {
        top: 16px;
        .c-hamburger.is-active & {
          top: 24px;
          rotate: -45deg;
        }
      }
      &:nth-of-type(2) {
        top: 25px;
        .c-hamburger.is-active & {
          opacity: 0;
        }
      }
      &:nth-of-type(3) {
        top: 34px;
        .c-hamburger.is-active & {
          top: 24px;
          rotate: 45deg;
        }
      }
    }
  }
}