@use "../../global" as *;

.c-heading-primary {
  position: relative;
  margin-bottom: 80px; // 標準余白
  font-weight: 700;
  @include fz(28);
  text-align: center;

  @include mq(md) {
    margin-bottom: 60px;
    @include fz(24);
  }

  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -20px;
    left: 0;
    width: 80px;
    height: 2px;
    margin: 0 auto;
    background-color: $color-text;

    @include mq(md) {
      width: 60px;
    }
  }
}

.c-heading-secondary {
  margin-bottom: 20px; // 標準余白

  &__en {
    display: block;
    font-weight: 700;
    @include fz(22);
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  &__ja {
    display: block;
    font-weight: 400;
    @include fz(12);
  }
}