@use "../../global" as *;

.c-logo {
  // line-height:0にしなくても収まっているのはなぜ？
  width: 100%;
  max-width: 150px;
  // line-height: 0;

  @include mq(md) {
    max-width: 120px;
  }

  &__link {
    display: block;
  }
}