@use "../../global" as *;

.c-media {
  display: flex;
  
  // 詳細度の関係でこの順番
  &--reverse {
    flex-direction: row-reverse;
  }

  @include mq(md) {
    flex-direction: column;
  }

  &__img-wrapper {
    width: 50%;

    @include mq(md) {
      width: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;

    @include mq(md) {
      // coverとの違いがわからない
      -o-object-fit: contain;
         object-fit: contain;
    }
  }

  &__content {
    width: 50%;
    padding: 20px 30px;
    background-color: $color-white;

    @include mq(md) {
      width: 100%;
    }
  }

  &__text {
    margin-bottom: 20px;
    @include fz(14);
    line-height: 1.8;
  }
}