@use "../../global" as *;

.c-page-header {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  padding: 60px 0 100px;
  background-color: $color-bg;
  text-align: center;

  @include mq(md) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    padding: 30px 0 50px;
  }

  &__title-ja {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    @include fz(14);
  }

  &__title-en {
    display: block;
    font-weight: 700;
    @include fz(40);
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @include mq(md) {
      @include fz(30);
    }
  }
}