@use "../../global" as *;

.c-table {
  margin-bottom: 80px;
  padding: 0 20px;
  overflow-x: auto;

  @include mq(md) {
    margin-bottom: 40px;
  }

  &__table {
    width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
     // テーブルの列幅を固定して、レイアウトを高速化する機能
     table-layout: fixed;

     @include mq(md) {
      width: 600px;
     }
  }

  &__plan,
  &__type,
  &__data {
    padding: 20px;
    border: 1px solid #707070;

    @include mq(md) {
      padding: 10px;
      @include fz(14);
    }
  }

  &__plan {
    background-color: #fafafa;
    font-weight: 500;

    &:first-of-type {
      width: 300px;
      background-color: $color-white;
      border-top: none;
      border-left: none;

      @include mq(md) {
        width: 150px;
      }
    }

    &:nth-of-type(n + 2) {
      width: 200px;

      @include mq(md) {
        width: 150px;
      }
    }
  }

  &__data {
    @include fz(18);
    text-align: center;

    @include mq(md) {
      @include fz(14);
    }
  }

  &__type {
    background-color: #fafafa;
    font-weight: 500;
    text-align: left;
  }

  &__label {
    display: block;
    @include fz(14);
  }

  &__price {
    font-weight: 500;
    @include fz(24);

    @include mq(md) {
      @include fz(18);
    }
  }

  &__tax {
    @include fz(12);
  }

  &__note {
    @include fz(12);
  }
}