@use "../../global" as *;

.p-contact-form {
  margin-bottom: 80px;

  @include mq(md) {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 10px;
    font-weight: 500;
  }

  &__required {
    margin-left: 5px;
    color: #e52d27;
  }

  &__data {
    margin-bottom: 40px;

    @include mq(md) {
      margin-bottom: 25px;
    }
  }

  &__radio-list {
    display: flex;
    align-items: center;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;

    @include mq(md) {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 15px;
    }
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #ccc;
  }

  &__textarea {
    height: 200px;
  }

  &__button {
    display: block;
    margin: 0 auto;
    // text-align: center;
  }
}