@use "../../global" as *;

.p-flow {
  margin-bottom: 100px;

  @include mq(md) {
    margin-bottom: 40px;
  }

  &__list {
    display: grid;
    row-gap: 50px;

    @include mq(md) {
      row-gap: 30px;
    }
  }

  &__item {
    display: flex;
    // 900px * 7% = 63px
    -webkit-column-gap: 7%;
       -moz-column-gap: 7%;
            column-gap: 7%;
    // margin-bottom: 50px;

    @include mq(md) {
      -webkit-column-gap: 20px;
         -moz-column-gap: 20px;
              column-gap: 20px;
    }
  }

  &__step {
    flex-shrink: 0;
    -webkit-clip-path: polygon(0 0, 100% 0 , 100% 80%, 50% 100%, 0 80%);
            clip-path: polygon(0 0, 100% 0 , 100% 80%, 50% 100%, 0 80%);
    width: 160px;
    height: 140px;
    // margin-right: 7%;
    padding-top: 20px;
    background-color: $color-bg;
    font-weight: 700;
    text-align: center;

    @include mq(md) {
      width: 80px;
      height: 80px;
      // margin-right: 20px;
      padding-top: 10px;
    }
  }

  &__label {
    display: block;
    @include fz(18);
    text-transform: uppercase;

    @include mq(md) {
      @include fz(14);
    }
  }

  &__number {
    display: block;
    @include fz(56);

    @include mq(md) {
      @include fz(32);
    }
  }

  &__title {
    margin-bottom: 15px;
    font-weight: 500;
    @include fz(22);

    @include mq(md) {
      @include fz(18);
    }
  }

  &__description {
    line-height: 1.8;

    @include mq(md) {
      @include fz(14);
    }
  }

  &__link {
    text-decoration: underline;
  }
}